@import '../../styles/main.scss';

.Layout {
  padding: 0 1rem;
  background-image: url('../../images/headshot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100vh;
  overflow: hidden;
  transition: all 350ms ease-in-out;
}

.helloContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
}

.helloContainerCopy {
  display: flex;
  flex-direction: column;
  transition: all 250ms ease-in-out;
}

.helloHeading {
  @extend .largeHeading;
  @extend %bold;
  color: $color-neutral-white;
  position: relative;
  z-index: 999;
}

.helloSubheading {
  @extend h1;
  @extend %regular;
  color: $color-neutral-white;
  margin-bottom: 0;
  position: relative;
  z-index: 999;
}

.circle {
  background: linear-gradient(94.07deg, #7c44ff 0%, #3de79d 100%);
  mix-blend-mode: multiply;
  opacity: 0.8;
  width: 375px;
  height: 375px;
  top: auto;
  left: -30%;
  transition: all 250ms ease-in-out;
  z-index: 998;
}

.aboutDetialsContaier {
  width: calc(100% + 2rem);
  position: relative;
  left: -1rem;
  top: calc(25% - 4.3125rem);
  height: 75%;
  background: linear-gradient(180deg, rgba(57, 63, 71, 0) 0%, #393f47 70.31%);
  display: flex;
  align-items: flex-end;
}

.aboutDetialsCopyContainer {
  padding: 0 1rem;
  max-width: 500px;
  color: $color-neutral-white;
  position: relative;
  z-index: 999;
}

.connectHeading {
  @extend %bold;
}

.linkArray {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
}

.linkIcon {
  height: 1.5rem;
  width: 1.5rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (min-width: 600px) {
  .circle {
    width: 400px;
    height: 400px;
    left: -15%;
  }
}

@media (min-width: 960px) {
  .Layout {
    background-color: $color-neutral-black;
    background-image: none;
  }

  .circle {
    width: 500px;
    height: 500px;
    left: -10%;
    mix-blend-mode: normal;
    opacity: 1;
  }

  .helloHeading {
    font-size: $type-size-jumbo;
    line-height: 3.25rem;
    margin-bottom: 3rem;
  }

  .helloSubheading {
    font-size: $type-size-large;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  .aboutDetialsCopyContainer {
    margin-bottom: 10rem;
  }
}
