@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import '../abstract/variables';

.jumboHeading {
  @extend %montserrat;
  font-size: $type-size-jumbo;
  line-height: 3rem;
  margin-bottom: 3rem;
}

.largeHeading {
  @extend %montserrat;
  font-size: $type-size-large;
  line-height: 3rem;
  margin-bottom: 3rem;
}

h1 {
  @extend %montserrat;
  font-size: $type-size-h1;
  line-height: 3rem;
  margin-bottom: 3rem;
}

h2 {
  @extend %montserrat;
  font-size: $type-size-h2;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  @extend %montserrat;
  font-size: $type-size-h3;
  line-height: 1.5rem;
}

h4 {
  @extend %montserrat;
  font-size: $type-size-h4;
  line-height: 1.5rem;
}

h5 {
  @extend %montserrat;
  font-size: $type-size-h5;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  font-variant: small-caps;
}

p {
  @extend %montserrat;
  font-size: $type-size-p;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.smallParagraph {
  @extend %montserrat;
  font-size: $type-size-sm;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

%light {
  font-weight: $type-weight-light;
}

%regular {
  font-weight: $type-weight-regular;
}

%semiBold {
  font-weight: $type-weight-semiBold;
}

%bold {
  font-weight: $type-weight-bold;
}
